## This file contains the differences to arm64 defconfig
## it is used to generate toradex defconfig with the following command
##
## make defconfig
## scripts/kconfig/merge_config.sh .config toradex_aarch64.config
## make savedefconfig


##
## Section to enable kernel features
##

# CPU Frequency scaling
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y

# Usefull for debugging
CONFIG_DYNAMIC_DEBUG=y

# Filesystems widely used
CONFIG_EXFAT_FS=m
CONFIG_NTFS_FS=m
CONFIG_NTFS_RW=y

# NVMe debugging/features
CONFIG_NVME_HWMON=y
CONFIG_NVME_VERBOSE_ERRORS=y

# Systemd, https://github.com/systemd/systemd/blob/main/README
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_UEVENT_HELPER=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_NET_NS=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_CGROUP_BPF=y
CONFIG_RT_GROUP_SCHED=n

# Spidev, force the driver to be builtin
CONFIG_SPI_SPIDEV=y

# Extcon used for dual-role USB switching
CONFIG_EXTCON_GPIO=y

# Gadgetfs is used for RNDIS (Ethernet over USB device)
CONFIG_USB_GADGETFS=m

# ADC used on Verdin boards
CONFIG_TI_ADS1015=y

# RTC widely used on Toradex eval-boards
CONFIG_RTC_DRV_DS1307=y

# Support HID devices
# This suppresses also the warning "hid-generic: device has no listeners, quitting"
CONFIG_USB_HIDDEV=y
# Support Bluetooth HID devices
CONFIG_UHID=m

# USB hub used on modules and or eval-boards
CONFIG_USB_HUB_USB251XB=y

# Enable usbmon which allows capturing USB traffic using tcpdump
CONFIG_USB_MON=m

# Thermal emergency poweroff
CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=10000

# Wi-Fi and Bluetooth used on modules plus related useful settings
CONFIG_BT_HCIBTSDIO=m
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIUART_MRVL=y
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIVHCI=m
CONFIG_BT_MRVL_SDIO=m
CONFIG_BT_NXPUART=m
CONFIG_BT_MRVL=m
CONFIG_BT_RFCOMM=m
CONFIG_BT=m
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_MWIFIEX_PCIE=m
CONFIG_MWIFIEX_SDIO=m
CONFIG_MWIFIEX_USB=m
CONFIG_MWIFIEX=m
CONFIG_R8188EU=m
CONFIG_RFKILL_GPIO=m
CONFIG_RFKILL=m

# Verdin DSI Devices
CONFIG_PWM=y
CONFIG_DRM_LONTIUM_LT8912B=m
CONFIG_DRM_TI_SN65DSI83=m

# Verdin EEPROM
CONFIG_EEPROM_AT24=y

# Verdin Serial 8250 UARTs
CONFIG_SERIAL_8250_NR_UARTS=6
CONFIG_SERIAL_8250_RUNTIME_UARTS=6

# Cameras
CONFIG_VIDEO_AR0521=m
CONFIG_VIDEO_IMX290=m
CONFIG_VIDEO_OV5647=m
CONFIG_VIDEO_OV9282=m
CONFIG_VIDEO_TC358743=m

# CMA
CONFIG_CMA_SIZE_MBYTES=1376
CONFIG_CMA_SIZE_PERCENTAGE=25
# CONFIG_CMA_SIZE_SEL_MBYTES is not set
# CONFIG_CMA_SIZE_SEL_PERCENTAGE is not set
CONFIG_CMA_SIZE_SEL_MIN=y

# Verdin display adapters
CONFIG_DRM_LONTIUM_LT8912B=m
CONFIG_DRM_TI_SN65DSI83=m
CONFIG_DRM_TOSHIBA_TC358767=m

##
## Section to enable Sitara K3 aarch64 SoC
##

# GPU
CONFIG_DRM_POWERVR=m

##
## Section to enable i.MX aarch64 SoC
##

# GPU
CONFIG_DRM_ETNAVIV=m

# RPMsg and RemoteProc for HMP
CONFIG_IMX_REMOTEPROC=y
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_VIRTIO=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_RPMSG_TTY=m
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m

# Enable i.MX PCIe
CONFIG_PCI_IMX6_HOST=y
CONFIG_PCI_IMX6_EP=m

# Enable i.MX 8M series SoC drivers
CONFIG_DRM_FSL_LDB=m
CONFIG_DRM_IMX_LCDIF=m
CONFIG_SND_SOC_FSL_AUD2HTX=m
CONFIG_SND_SOC_FSL_RPMSG=m
CONFIG_SND_SOC_FSL_XCVR=m
CONFIG_SND_SOC_IMX_HDMI=m

# Enable i.MX 8/8X series drivers
CONFIG_AHCI_IMX=m
CONFIG_DRM_IMX8QM_LDB=m
CONFIG_DRM_IMX8QXP_LDB=m
CONFIG_DRM_IMX8QXP_PIXEL_COMBINER=m
CONFIG_DRM_IMX8QXP_PIXEL_LINK=m
CONFIG_DRM_IMX8QXP_PIXEL_LINK_TO_DPI=m
CONFIG_IMX8QXP_ADC=m
CONFIG_PHY_MIXEL_LVDS_PHY=m
CONFIG_SND_SOC_FSL_MQS=m
CONFIG_VIDEO_AMPHION_VPU=m
CONFIG_VIDEO_IMX8_JPEG=m
CONFIG_VIDEO_IMX8MQ_MIPI_CSI2=m

# Optional HiFi4 DSP
CONFIG_IMX_DSP=m
CONFIG_IMX_DSP_REMOTEPROC=m


##
## Section to enable TI aarch64 SoC
##

CONFIG_K3_RTI_WATCHDOG=y
CONFIG_K3_THERMAL=y

# Verdin PMIC
CONFIG_MFD_TPS65219=y
CONFIG_REGULATOR_TPS65219=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y


##
## Section to disable kernel features
##

# Not used ADC Driver 
CONFIG_IMX93_ADC=n

# Disable architectures and SoCs not used by Toradex
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BCMBCA=y
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n

# Disable NAND as Toradex uses only eMMC on ARM 64bit boards
CONFIG_MTD=n

# Disable unnecessary TV stuff
CONFIG_DRM_NOUVEAU=n
CONFIG_NET_DSA=n
CONFIG_NFC=n
CONFIG_OVERLAY_FS=n
CONFIG_RC_CORE=n
CONFIG_MTD_UBI=n
CONFIG_JFFS2_FS=n
CONFIG_UBIFS_FS=n
# Media
CONFIG_DVB_CORE=n
CONFIG_DVB_M88DS3103=n
CONFIG_DVB_MXL5XX=n
CONFIG_DVB_STB0899=n
CONFIG_DVB_STB6100=n
CONFIG_DVB_STV090x=n
CONFIG_DVB_STV0910=n
CONFIG_DVB_STV6110x=n
CONFIG_DVB_STV6111=n
CONFIG_DVB_DRXK=n
CONFIG_DVB_MN88472=n
CONFIG_DVB_MN88473=n
CONFIG_DVB_SI2165=n
CONFIG_DVB_TDA18271C2DD=n
CONFIG_DVB_CX24110=n
CONFIG_DVB_CX24116=n
CONFIG_DVB_CX24117=n
CONFIG_DVB_CX24120=n
CONFIG_DVB_CX24123=n
CONFIG_DVB_DS3000=n
CONFIG_DVB_MB86A16=n
CONFIG_DVB_MT312=n
CONFIG_DVB_S5H1420=n
CONFIG_DVB_SI21XX=n
CONFIG_DVB_STB6000=n
CONFIG_DVB_STV0288=n
CONFIG_DVB_STV0299=n
CONFIG_DVB_STV0900=n
CONFIG_DVB_STV6110=n
CONFIG_DVB_TDA10071=n
CONFIG_DVB_TDA10086=n
CONFIG_DVB_TDA8083=n
CONFIG_DVB_TDA8261=n
CONFIG_DVB_TDA826X=n
CONFIG_DVB_TS2020=n
CONFIG_DVB_TUA6100=n
CONFIG_DVB_TUNER_CX24113=n
CONFIG_DVB_TUNER_ITD1000=n
CONFIG_DVB_VES1X93=n
CONFIG_DVB_ZL10036=n
CONFIG_DVB_ZL10039=n
CONFIG_DVB_AF9013=n
CONFIG_DVB_CX22700=n
CONFIG_DVB_CX22702=n
CONFIG_DVB_CXD2820R=n
CONFIG_DVB_CXD2841ER=n
CONFIG_DVB_DIB3000MB=n
CONFIG_DVB_DIB3000MC=n
CONFIG_DVB_DIB7000M=n
CONFIG_DVB_DIB7000P=n
CONFIG_DVB_DIB9000=n
CONFIG_DVB_DRXD=n
CONFIG_DVB_EC100=n
CONFIG_DVB_L64781=n
CONFIG_DVB_MT352=n
CONFIG_DVB_NXT6000=n
CONFIG_DVB_RTL2830=n
CONFIG_DVB_RTL2832=n
CONFIG_DVB_RTL2832_SDR=n
CONFIG_DVB_S5H1432=n
CONFIG_DVB_SI2168=n
CONFIG_DVB_SP887X=n
CONFIG_DVB_STV0367=n
CONFIG_DVB_TDA10048=n
CONFIG_DVB_TDA1004X=n
CONFIG_DVB_ZD1301_DEMOD=n
CONFIG_DVB_ZL10353=n
CONFIG_DVB_CXD2880=n
CONFIG_DVB_STV0297=n
CONFIG_DVB_TDA10021=n
CONFIG_DVB_TDA10023=n
CONFIG_DVB_VES1820=n
CONFIG_DVB_AU8522=n
CONFIG_DVB_AU8522_DTV=n
CONFIG_DVB_AU8522_V4L=n
CONFIG_DVB_BCM3510=n
CONFIG_DVB_LG2160=n
CONFIG_DVB_LGDT3305=n
CONFIG_DVB_LGDT3306A=n
CONFIG_DVB_LGDT330X=n
CONFIG_DVB_MXL692=n
CONFIG_DVB_NXT200X=n
CONFIG_DVB_OR51132=n
CONFIG_DVB_OR51211=n
CONFIG_DVB_S5H1409=n
CONFIG_DVB_S5H1411=n
CONFIG_DVB_DIB8000=n
CONFIG_DVB_MB86A20S=n
CONFIG_DVB_S921=n
CONFIG_DVB_MN88443X=n
CONFIG_DVB_TC90522=n
CONFIG_DVB_PLL=n
CONFIG_DVB_TUNER_DIB0070=n
CONFIG_DVB_TUNER_DIB0090=n
CONFIG_DVB_A8293=n
CONFIG_DVB_AF9033=n
CONFIG_DVB_ASCOT2E=n
CONFIG_DVB_ATBM8830=n
CONFIG_DVB_HELENE=n
CONFIG_DVB_HORUS3A=n
CONFIG_DVB_ISL6405=n
CONFIG_DVB_ISL6421=n
CONFIG_DVB_ISL6423=n
CONFIG_DVB_IX2505V=n
CONFIG_DVB_LGS8GL5=n
CONFIG_DVB_LGS8GXX=n
CONFIG_DVB_LNBH25=n
CONFIG_DVB_LNBH29=n
CONFIG_DVB_LNBP21=n
CONFIG_DVB_LNBP22=n
CONFIG_DVB_M88RS2000=n
CONFIG_DVB_TDA665x=n
CONFIG_DVB_DRX39XYJ=n
CONFIG_DVB_CXD2099=n
CONFIG_DVB_SP2=n
CONFIG_DVB_TUNER_CX24113=n
CONFIG_DVB_TUNER_ITD1000=n
CONFIG_DVB_TUNER_DIB0070=n
CONFIG_DVB_TUNER_DIB0090=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_TUNER=n
CONFIG_MEDIA_TUNER_E4000=n
CONFIG_MEDIA_TUNER_FC0011=n
CONFIG_MEDIA_TUNER_FC0012=n
CONFIG_MEDIA_TUNER_FC0013=n
CONFIG_MEDIA_TUNER_FC2580=n
CONFIG_MEDIA_TUNER_IT913X=n
CONFIG_MEDIA_TUNER_M88RS6000T=n
CONFIG_MEDIA_TUNER_MAX2165=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MEDIA_TUNER_MSI001=n
CONFIG_MEDIA_TUNER_MT2060=n
CONFIG_MEDIA_TUNER_MT2063=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_MEDIA_TUNER_MT2131=n
CONFIG_MEDIA_TUNER_MT2266=n
CONFIG_MEDIA_TUNER_MXL301RF=n
CONFIG_MEDIA_TUNER_MXL5005S=n
CONFIG_MEDIA_TUNER_MXL5007T=n
CONFIG_MEDIA_TUNER_QM1D1B0004=n
CONFIG_MEDIA_TUNER_QM1D1C0042=n
CONFIG_MEDIA_TUNER_QT1010=n
CONFIG_MEDIA_TUNER_R820T=n
CONFIG_MEDIA_TUNER_SI2157=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_MEDIA_TUNER_TDA18212=n
CONFIG_MEDIA_TUNER_TDA18218=n
CONFIG_MEDIA_TUNER_TDA18250=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_MEDIA_TUNER_TEA5761=n
CONFIG_MEDIA_TUNER_TEA5767=n
CONFIG_MEDIA_TUNER_TUA9001=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MEDIA_TUNER_XC5000=n

# Not used sound drivers
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_SOC_PCM3168A=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_SND_SOC_RL6231=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SND_SOC_WM8524=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_WSA881X=n

# Not used PCI drivers
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_PCI_MESON=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_PCI_XGENE=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_PCIE_ALTERA=n
CONFIG_PCIE_KIRIN=n
CONFIG_PCIE_MOBIVEIL=n

# Not used Graphic Drivers
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_DRM_RCAR_LVDS=n
# Selected by DRM_RCAR_LVDS only
CONFIG_OF_OVERLAY=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n

# Not used Network and Wifi drivers
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_ALTEON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_AURORA=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_HP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETERION=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_VENDOR_PACKET_ENGINES=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_WLAN_VENDOR_CISCO=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_ZYDAS=n
