ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a0000.i2c", SYMLINK+="apalis-i2c1"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="i2c@0", SYMLINK+="apalis-i2c2"
ACTION=="add|change", SUBSYSTEM=="i2c-dev", KERNELS=="120000.hdmi", SYMLINK+="apalis-i2c2"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a8000.i2c", SYMLINK+="apalis-i2c3"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a4000.i2c", SYMLINK+="apalis-i2c-on-module"
ACTION=="add|change", ATTRS{iomem_base}=="0x2020000", SYMLINK+="apalis-uart1"
ACTION=="add|change", ATTRS{iomem_base}=="0x21E8000", SYMLINK+="apalis-uart2"
ACTION=="add|change", ATTRS{iomem_base}=="0x21F0000", SYMLINK+="apalis-uart3"
ACTION=="add|change", ATTRS{iomem_base}=="0x21F4000", SYMLINK+="apalis-uart4"
ACTION=="add|change", KERNELS=="20bc000.wdog", SYMLINK+="apalis-watchdog"
ACTION=="add|change", KERNELS=="20bc000.watchdog", SYMLINK+="apalis-watchdog"
ACTION=="add|change", SUBSYSTEM=="watchdog", KERNELS=="soc*", SYMLINK+="apalis-watchdog-soc"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="2008000.*spi", SYMLINK+="apalis-spi1-cs%n"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="200c000.*spi", SYMLINK+="apalis-spi2-cs%n"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.usdhc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.usdhc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="2198000.usdhc", SYMLINK+="emmc-part%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="2198000.mmc", SYMLINK+="emmc-part%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2194000.usdhc", SYMLINK+="apalis-sd4bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2194000.mmc", SYMLINK+="apalis-sd4bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2194000.usdhc", SYMLINK+="apalis-sd4bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2194000.mmc", SYMLINK+="apalis-sd4bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2190000.usdhc", SYMLINK+="apalis-mmc8bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2190000.mmc", SYMLINK+="apalis-mmc8bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2190000.usdhc", SYMLINK+="apalis-mmc8bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2190000.mmc", SYMLINK+="apalis-mmc8bit-part%n"
