## This file contains the differences to arm64 defconfig
## it is used to generate toradex defconfig with the following command
##
## make defconfig
## scripts/kconfig/merge_config.sh .config toradex_imx_v8.config
## make savedefconfig

# CPU Frequency scaling
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y

# Usefull for debugging
CONFIG_DYNAMIC_DEBUG=y

# Systemd, https://github.com/systemd/systemd/blob/main/README
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_UEVENT_HELPER=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_NET_NS=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_CGROUP_BPF=y
CONFIG_RT_GROUP_SCHED=n

# Thermal emergency poweroff
CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=10000

# Verdin EEPROM
CONFIG_EEPROM_AT24=y

# RPMsg and RemoteProc for HMP
CONFIG_IMX_REMOTEPROC=y
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_VIRTIO=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_RPMSG_TTY=m
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m

# Disable unnecessary TV stuff
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n

