## This file contains the differences to imx_v6_v7_defconfig
## it is used to generate toradex defconfig with the following command
##
## make imx_v6_v7_defconfig
## scripts/kconfig/merge_config.sh .config toradex_imx_v6_v7.config
## make savedefconfig

# LZ4 support is better than LZO and provide good boot time performance
CONFIG_KERNEL_LZ4=y

# USB OTG Role Switch
CONFIG_EXTCON_USB_GPIO=y
CONFIG_USB_CONN_GPIO=y

# Usefull for debugging
CONFIG_DYNAMIC_DEBUG=y

# Systemd, https://github.com/systemd/systemd/blob/main/README
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_UEVENT_HELPER=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_NET_NS=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_CGROUP_BPF=y
CONFIG_RT_GROUP_SCHED=n

# SPI test and debugging
CONFIG_SPI_SPIDEV=y

# Support HID devices
# This suppresses also the warning "hid-generic: device has no listeners, quitting"
CONFIG_USB_HIDDEV=y

# Colibri Evaluation Board
CONFIG_CAN_MCP251X=m

# WiFi/BT used on multiple SOM
CONFIG_BT_MRVL=m
CONFIG_BT_MRVL_SDIO=m

# WiFi modules
CONFIG_ATH10K=m
CONFIG_ATH10K_PCI=m
CONFIG_IWLWIFI=m
CONFIG_RT2X00=m
CONFIG_RT2800USB=m
CONFIG_RT2800USB_RT3573=y
CONFIG_RT2800USB_RT53XX=y
CONFIG_RT2800USB_RT55XX=y
CONFIG_RT2800USB_UNKNOWN=y
CONFIG_RTL8192CU=m
CONFIG_RTL8XXXU=m
CONFIG_R8188EU=m

# 80211 as modules, so that regulatory.db is available when loading
CONFIG_CFG80211=m
CONFIG_MAC80211=m

# Networking
CONFIG_BRIDGE=m
CONFIG_VLAN_8021Q=m

# CMA, used by the VPU for example
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CMA_SIZE_SEL_MIN=y
CONFIG_CMA_SIZE_PERCENTAGE=35

# Thermal emergency poweroff
CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=10000

# Others
CONFIG_DRM_SIMPLE_BRIDGE=y

# Non rootfs as module to minimize image size
CONFIG_JFFS2_FS=m
CONFIG_EXT2_FS=m
CONFIG_EXT3_FS=m
CONFIG_FUSE_FS=m
CONFIG_NTFS3_FS=m

# Disable not needed iMX drivers
CONFIG_SOC_IMX31=n
CONFIG_SOC_IMX35=n
CONFIG_SOC_IMX50=n
CONFIG_SOC_IMX51=n
CONFIG_SOC_IMX53=n
CONFIG_SOC_VF610=n
CONFIG_SOC_IMX6SL=n
CONFIG_SOC_IMX6SLL=n
CONFIG_SOC_IMX6SX=n
CONFIG_SOC_IMX7ULP=n
CONFIG_SOC_IMX8M=n

CONFIG_PINCTRL_IMX8MM=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_PINCTRL_IMX8MQ=n

CONFIG_CLK_IMX8MM=n
CONFIG_CLK_IMX8MN=n
CONFIG_CLK_IMX8MP=n
CONFIG_CLK_IMX8MQ=n

CONFIG_MTD_NAND_MXC=n
CONFIG_PATA_IMX=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_IMX7ULP_WDT=n
CONFIG_FB_MX3=n
CONFIG_RTC_DRV_MXC_V2=n
CONFIG_PWM_IMX_TPM=n
CONFIG_FSL_EDMA=n

# Disable not needed functionality
CONFIG_KEXEC=n
CONFIG_SWAP=n

# Disable noisy debug on the console every input event
CONFIG_INPUT_EVBUG=n

# Disable or build as module not needed generic drivers
CONFIG_RC_CORE=n
CONFIG_MTD_SPI_NOR=n
CONFIG_VGA_ARB=n
CONFIG_EEPROM_AT25=n
CONFIG_SATA_PMP=n
CONFIG_ATA_SFF=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_MOUSE_PS2=n
CONFIG_INPUT_MMA8450=n
CONFIG_SERIO=n
CONFIG_PTP_1588_CLOCK_KVM=n

CONFIG_TOUCHSCREEN_ADS7846=n
CONFIG_TOUCHSCREEN_DA9052=n
CONFIG_TOUCHSCREEN_EGALAX=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_TOUCHSCREEN_MAX11801=n
CONFIG_TOUCHSCREEN_IMX6UL_TSC=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TOUCHSCREEN_MC13783=n
CONFIG_TOUCHSCREEN_TSC2004=n
CONFIG_TOUCHSCREEN_TSC2007=n
CONFIG_TOUCHSCREEN_SX8654=n
CONFIG_TOUCHSCREEN_COLIBRI_VF50=n

CONFIG_I2C_MUX=n
CONFIG_I2C_MUX_GPIO=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_I2C_ALGOPCF=n
CONFIG_I2C_ALGOPCA=n

CONFIG_GPIO_SIOX=n
CONFIG_GPIO_MAX732X=n
CONFIG_GPIO_PCA953X=n
CONFIG_GPIO_PCF857X=n
CONFIG_GPIO_STMPE=n
CONFIG_GPIO_74X164=n

CONFIG_RN5T618_POWER=n
CONFIG_SENSORS_MC13783_ADC=n

CONFIG_DA9063_WATCHDOG=n
CONFIG_DA9062_WATCHDOG=n

CONFIG_MFD_DA9052_I2C=n
CONFIG_MFD_DA9062=n
CONFIG_MFD_DA9063=n
CONFIG_MFD_MC13XXX_SPI=n
CONFIG_MFD_MC13XXX_I2C=n

CONFIG_REGULATOR_DA9052=n
CONFIG_REGULATOR_DA9062=n
CONFIG_REGULATOR_DA9063=n
CONFIG_REGULATOR_LTC3676=n
CONFIG_REGULATOR_MC13783=n
CONFIG_REGULATOR_MC13892=n

CONFIG_DVB_NET=n

CONFIG_VIDEO_OV2680=n
CONFIG_VIDEO_OV5645=n

# HDMI to CSI-2 bridge
CONFIG_VIDEO_TC358743=m

CONFIG_CXD2880_SPI_DRV=n

# This compiles all media-related drivers as modules and disables TV stuff
CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_IMX_MEDIA=y
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_TEST_SUPPORT=n

CONFIG_DRM_TI_TFP410=n

CONFIG_LCD_CLASS_DEVICE=n
CONFIG_LCD_L4F00242T03=n
CONFIG_LCD_PLATFORM=n

CONFIG_SND_SOC_EUKREA_TLV320=n
CONFIG_SND_SOC_IMX_ES8328=n
CONFIG_SND_SOC_CS42XX8_I2C=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_SND_SOC_TLV320AIC23_I2C=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_SND_SOC_ES8328_SPI=n

CONFIG_HID_WACOM=n
CONFIG_I2C_HID_OF=n

CONFIG_RTC_DRV_ISL1208=n
CONFIG_RTC_DRV_PCF8523=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_RTC_DRV_RC5T619=n
CONFIG_RTC_DRV_RV3029C2=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_RTC_DRV_MC13XXX=n

CONFIG_MMA8452=n
CONFIG_RN5T618_ADC=n
CONFIG_SENSORS_ISL29018=n
CONFIG_MAG3110=n
CONFIG_MPL3115=n

CONFIG_SIOX=n

CONFIG_BRCMFMAC=n
CONFIG_WL12XX=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n

CONFIG_CS89x0_PLATFORM=n

CONFIG_AT803X_PHY=n
CONFIG_USB_RTL8152=m
CONFIG_USB_LAN78XX=m
CONFIG_USB_USBNET=m
CONFIG_USB_NET_SMSC95XX=m
CONFIG_USB_NET_MCS7830=m
CONFIG_USB_NET_ZAURUS=n
CONFIG_AX88796B_PHY=m
CONFIG_MICROCHIP_PHY=m
CONFIG_SMSC_PHY=m

CONFIG_PROVE_LOCKING=n
CONFIG_DEBUG_RT_MUTEXES=n
CONFIG_DEBUG_SPINLOCK=n
CONFIG_DEBUG_MUTEXES=n
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=n
CONFIG_DEBUG_RWSEMS=n
CONFIG_DEBUG_LOCK_ALLOC=n

CONFIG_DMADEVICES=y
CONFIG_FSL_EDMA=y
CONFIG_DMA_VIRTUAL_CHANNELS=y

# RPMsg and RemoteProc for HMP
CONFIG_RPMSG_TTY=m
CONFIG_IMX_MBOX=m
CONFIG_REMOTEPROC=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_IMX_REMOTEPROC=m
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m
