## This file contains the differences to imx_v6_v7_defconfig
## it is used to generate toradex defconfig with the following command
##
## make imx_v6_v7_defconfig
## scripts/kconfig/merge_config.sh -m .config toradex_imx_v6_v7.config
## make savedefconfig

# LZ4 support is better than LZO and provide good boot time performance
CONFIG_KERNEL_LZ4=y

# USB OTG Role Switch
CONFIG_EXTCON_USB_GPIO=y

# Usefull for debugging
CONFIG_DYNAMIC_DEBUG=y

# SPI test and debugging
CONFIG_SPI_SPIDEV=y

# Colibri Evaluation Board
CONFIG_CAN_MCP251X=m

# WiFi used on multiple SOM
CONFIG_BT_MRVL=m
CONFIG_BT_MRVL_SDIO=m

# CMA, used by the VPU for example
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CMA_SIZE_SEL_MIN=y
CONFIG_CMA_SIZE_PERCENTAGE=50

# Others
CONFIG_DRM_SIMPLE_BRIDGE=y

# Disable not needed SOC/pinctrl/clk
CONFIG_SOC_IMX31=n
CONFIG_SOC_IMX35=n
CONFIG_SOC_IMX50=n
CONFIG_SOC_IMX51=n
CONFIG_SOC_IMX53=n
CONFIG_SOC_VF610=n
CONFIG_SOC_IMX6SL=n
CONFIG_SOC_IMX6SLL=n
CONFIG_SOC_IMX6SX=n
CONFIG_SOC_IMX7ULP=n
CONFIG_SOC_IMX8M=n

CONFIG_PINCTRL_IMX8MM=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_PINCTRL_IMX8MQ=n

CONFIG_CLK_IMX8MM=n
CONFIG_CLK_IMX8MN=n
CONFIG_CLK_IMX8MP=n
CONFIG_CLK_IMX8MQ=n

# Non rootfs as module to minimize image size
CONFIG_JFFS2_FS=m
CONFIG_EXT2_FS=m
CONFIG_EXT3_FS=m
CONFIG_FUSE_FS=m
CONFIG_NTFS3_FS=m

# Disable not needed functionality
CONFIG_KEXEC=n
CONFIG_SWAP=n
CONFIG_RC_CORE=n
CONFIG_MTD_SPI_NOR=n
CONFIG_PATA_IMX=n
