ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="5a810000.i2c", SYMLINK+="colibri-i2c"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="5a800000.i2c", SYMLINK+="colibri-i2c-on-module"
ACTION=="add|change", ATTRS{iomem_base}=="0x5A090010", SYMLINK+="colibri-uarta"
ACTION=="add|change", ATTRS{iomem_base}=="0x5A060010", SYMLINK+="colibri-uartb"
ACTION=="add|change", ATTRS{iomem_base}=="0x5A080010", SYMLINK+="colibri-uartc"
ACTION=="add|change", KERNELS=="watchdog", SYMLINK+="colibri-watchdog"
ACTION=="add|change", SUBSYSTEM=="watchdog", KERNELS=="scu*", SYMLINK+="colibri-watchdog-soc"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="5a020000.spi", SYMLINK+="colibri-spi-cs%n"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="5b010000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="5b010000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="5b010000.mmc", SYMLINK+="emmc-part%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="5b020000.mmc", SYMLINK+="colibri-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="5b020000.mmc", SYMLINK+="colibri-sd-part%n"
