ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="30a50000.i2c", SYMLINK+="colibri-i2c"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="30a20000.i2c", SYMLINK+="colibri-i2c-on-module"
ACTION=="add|change", ATTRS{iomem_base}=="0x30860000", SYMLINK+="colibri-uarta"
ACTION=="add|change", ATTRS{iomem_base}=="0x30890000", SYMLINK+="colibri-uartb"
ACTION=="add|change", ATTRS{iomem_base}=="0x30880000", SYMLINK+="colibri-uartc"
ACTION=="add|change", SUBSYSTEM=="watchdog", DRIVERS=="rn5t618-wdt", SYMLINK+="colibri-watchdog", SYMLINK+="colibri-watchdog-som"
ACTION=="add|change", SUBSYSTEM=="watchdog", DRIVERS=="imx2-wdt", SYMLINK+="colibri-watchdog-soc"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="30840000.*spi", SYMLINK+="colibri-spi-cs%n"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.usdhc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.usdhc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="30b60000.usdhc", SYMLINK+="emmc-part%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="30b60000.mmc", SYMLINK+="emmc-part%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="30b40000.usdhc", SYMLINK+="colibri-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="30b40000.mmc", SYMLINK+="colibri-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="30b40000.usdhc", SYMLINK+="colibri-sd-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="30b40000.mmc", SYMLINK+="colibri-sd-part%n"
