ACTION=="add", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a0000.i2c", SYMLINK+="colibri-i2c"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a4000.i2c", SYMLINK+="colibri-i2c-on-module"
ACTION=="add", ATTRS{iomem_base}=="0x2020000", SYMLINK+="colibri-uarta"
ACTION=="add", ATTRS{iomem_base}=="0x21E8000", SYMLINK+="colibri-uartb"
ACTION=="add", ATTRS{iomem_base}=="0x21F4000", SYMLINK+="colibri-uartc"
ACTION=="add", KERNELS=="20bc000.wdog", SYMLINK+="colibri-watchdog"
ACTION=="add", SUBSYSTEM=="spidev", KERNELS=="2008000.*spi", SYMLINK+="colibri-spi-cs%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
