KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="700b0600.sdhci", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="700b0600.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="700b0600.sdhci", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="700b0600.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="700b0600.sdhci", SYMLINK+="emmc-part%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="700b0600.mmc", SYMLINK+="emmc-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="700b0400.sdhci", SYMLINK+="apalis-sd4bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="700b0400.mmc", SYMLINK+="apalis-sd4bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="700b0400.sdhci", SYMLINK+="apalis-sd4bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="700b0400.mmc", SYMLINK+="apalis-sd4bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="700b0000.sdhci", SYMLINK+="apalis-mmc8bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="700b0000.mmc", SYMLINK+="apalis-mmc8bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="700b0000.sdhci", SYMLINK+="apalis-mmc8bit-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="700b0000.mmc", SYMLINK+="apalis-mmc8bit-part%n"
