ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a8000.i2c", SYMLINK+="colibri-i2c"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="i2c@0", SYMLINK+="colibri-i2c-ddc"
ACTION=="add|change", SUBSYSTEM=="i2c-dev", KERNELS=="120000.hdmi", SYMLINK+="colibri-i2c-ddc"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTRS{name}=="21a4000.i2c", SYMLINK+="colibri-i2c-on-module"
ACTION=="add|change", ATTRS{iomem_base}=="0x2020000", SYMLINK+="colibri-uarta"
ACTION=="add|change", ATTRS{iomem_base}=="0x21E8000", SYMLINK+="colibri-uartb"
ACTION=="add|change", ATTRS{iomem_base}=="0x21EC000", SYMLINK+="colibri-uartc"
ACTION=="add|change", KERNELS=="20bc000.wdog", SYMLINK+="colibri-watchdog"
ACTION=="add|change", KERNELS=="20bc000.watchdog", SYMLINK+="colibri-watchdog"
ACTION=="add|change", SUBSYSTEM=="watchdog", KERNELS=="soc*", SYMLINK+="colibri-watchdog-soc"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="2014000.*spi", SYMLINK+="colibri-spi-cs%n"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.usdhc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.usdhc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="2198000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="2198000.usdhc", SYMLINK+="emmc-part%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="2198000.mmc", SYMLINK+="emmc-part%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2190000.usdhc", SYMLINK+="colibri-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="2190000.mmc", SYMLINK+="colibri-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2190000.usdhc", SYMLINK+="colibri-sd-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="2190000.mmc", SYMLINK+="colibri-sd-part%n"
